{
 :juxt.site.alpha/type "Subject"
 :juxt.pass.alpha/identity
 {
  :juxt.site.alpha/type "Identity"
  :juxt.site.alpha/user
  {
   :juxt.site.alpha/type "User"
   :name "John Doe"
   :first-name "John"
   }
  :twitter/id "johndoe"
  }
  :login-time "2022-04-20T15:30:00Z"
 }
